.header__menu-btn {
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
}

.header__menu-btn:focus-visible {
  outline: none;
}