.saved-news-header__keywords {
  font-family: 'Roboto', Ariel, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--main-content-color);
  margin: 0;
}