.news-card-list__button {
  cursor: pointer;
  font-family: 'Roboto', Ariel, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 288px;
  height: 64px;
  background: var(--secondary-bg);
  border: none;
  border-radius: 80px;
  align-self: center;
  transition: all .3s linear;
  padding: 0;
}

.news-card-list__button:hover {
  background: #E8E8E8;
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .news-card-list__button {
    width: 240px;
    height: 56px;
  }
}
