.footer__copyright {
  font-family: 'Roboto', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-content-color);
  margin-right: auto;
}