.app {
  font-family: 'Roboto', 'Inter', Arial, sans-serif;
  background-color: var(--main-bg);
  color: var(--main-content-color);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
}