.navigation__item_active_theme_dark {
  color: var(--dark-bg-content-color);
  border-bottom: 3px solid var(--dark-bg-content-color);
}

@media screen and (max-width: 580px) {
  .navigation__item_active_theme_dark {
    border: 0;
  }
}