.logo {
  font-family: 'Roboto-Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-content-color);
}

@media screen and (max-width: 580px) {
  .logo {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    font-size: 16px;
  }
}