.footer__content-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

@media screen and (max-width: 768px) {
  .footer__content-container {
    column-gap: 24px;
  }
}

@media screen and (max-width: 580px) {
  .footer__content-container {
    width: 100%;
  }
}