.about {
  width: 100%;
  display: flex;
  column-gap: 56px;
  box-sizing: border-box;
  padding: 80px var(--1440-page-horizontal-padding);
  background-color: var(--secondary-bg);
}

@media screen and (max-width: 768px) {
  .about {
    column-gap: 32px;
    padding: 40px var(--768-page-horizontal-padding);
  }
}