.search-form__title {
  font-family: 'Roboto-Slab', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  max-width: 608px;
  color: var(--dark-bg-content-color);
  margin: 0;
}