.search-form__title {
  font-family: 'Roboto-Slab', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  width: 100%;
  color: var(--dark-bg-content-color);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
  }
}