.navigation {
  display: flex;
  align-items: center;
  column-gap: 34px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .navigation {
    column-gap: 16px;
  }
}

@media screen and (max-width: 580px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
    column-gap: 16px;
    padding: 16px var(--580-page-horizontal-padding);
  }
}

@media screen and (max-width: 425px) {
  .navigation {
    padding: 16px var(--425-page-horizontal-padding);
  }
}