.news-card__button {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-bg);
  border: none;
  border-radius: 8px;
  padding: 0;
}

.news-card__button:focus-visible {
  outline: none;
}
