.popup__submit-button {
  font-family: 'Roboto', Ariel, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  height: 64px;
  background-color: var(--form-button-bg);
  color: var(--dark-bg-content-color);
  cursor: pointer;
  border: 0;
  box-shadow: 0 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  transition: var(--form-button-transition);
  padding: 0;
  margin: 8px 0 0;
}

.popup__submit-button:hover {
  background-color: var(--form-button-bg-hovered);
}