.news-card__text {
  font-family: 'Roboto', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: var(--main-content-color);
  margin: 16px 0 0;
}

@media screen and (max-width: 768px) {
  .news-card__text {
    height: 88px;
    -webkit-line-clamp: 4;
    margin: 10px 0 0;
  }
}