.popup__close-button {
  position: absolute;
  background-image: url(../../../images/close_icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: -46px;
  right: -46px;
  border: none;
  padding: 0;
  transition: var(--link-transition);
  z-index: 1;
}

@media screen and (max-width: 580px) {
  .popup__close-button {
    background-image: url(../../../images/close_icon_mobile.svg);
    width: 24px;
    height: 24px;
    position: fixed;
    top: 16px;
    right: var(--580-page-horizontal-padding);
  }
}

@media screen and (max-width: 425px) {
  .popup__close-button {
    right: var(--425-page-horizontal-padding);
  }
}

.popup__close-button:hover {
  opacity: var(--hovered-link-opacity);
}
