.login-button_type_logout {
  padding: 0 15px 0 19px;
}

@media screen and (max-width: 768px) {
  .login-button_type_logout {
    padding: 0 13px 0 15px;
  }
}

@media screen and (max-width: 580px) {
  .login-button_type_logout {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
