.login-button_type_login {
  width: 176px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .login-button_type_login {
    width: 152px;
  }
}

@media screen and (max-width: 580px) {
  .login-button_type_login {
    width: 100%;
  }
}