.news-card-list__text {
  font-family: 'Roboto', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--secondary-content-color);
  align-self: center;
  padding: 0;
  margin: 0;
}