.form-input {
  font-family: 'Inter', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  width: 100%;
  background: transparent;
  color: black;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 0 1px 0;
  margin: 0;
  padding: 9px 0 10px;
}

.form-input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 1);
}

.form-input::placeholder {
  color: rgba(0,0,0, 0.2);
}