.footer {
  width: 100%;
  height: 80px;
  background-color: var(--secondary-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 var(--1440-page-horizontal-padding);
}

@media screen and (max-width: 1280px) {
  .footer {
    height: 76px;
    padding: 0 var(--1280-page-horizontal-padding);
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 var(--1024-page-horizontal-padding);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 64px;
    padding: 0 var(--768-page-horizontal-padding);
  }
}

@media screen and (max-width: 580px) {
  .footer {
    row-gap: 40px;
    height: 100%;
    flex-direction: column-reverse;
    padding: 20px var(--580-page-horizontal-padding) 22px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 20px var(--425-page-horizontal-padding) 22px;
  }
}