.popup__container {
  max-width: 430px;
  width: 90%;
  background-color: white;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 34px 36px 28px;
}
@media screen and (max-width: 580px) {
  .popup__container {
    padding: 30px var(--580-page-horizontal-padding);
    max-width: 580px;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .popup__container {
    padding: 16px var(--425-page-horizontal-padding);
    max-width: 580px;
    width: 100%;
  }
}

