.news-card-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  row-gap: 64px;
  padding: 80px var(--1440-page-horizontal-padding);
}

@media screen and (max-width: 1280px) {
  .news-card-list {
    row-gap: 58px;
    padding: 70px var(--1280-page-horizontal-padding);
  }
}

@media screen and (max-width: 1024px) {
  .news-card-list {
    row-gap: 50px;
    padding: 60px var(--1024-page-horizontal-padding);
  }
}

@media screen and (max-width: 768px) {
  .news-card-list {
    row-gap: 32px;
    padding: 40px var(--768-page-horizontal-padding);
  }
}

@media screen and (max-width: 580px) {
  .news-card-list {
    row-gap: 0;
    padding: 12px var(--580-page-horizontal-padding);
  }
}

@media screen and (max-width: 425px) {
  .news-card-list {
    padding: 12px var(--425-page-horizontal-padding);
  }
}