.about__info-title {
  max-width: 600px;
  font-family: 'Roboto-Slab', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: var(--main-content-color);
  margin: 51px 0 0;
}

@media screen and (max-width: 768px) {
  .about__info-title {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
}