.popup__link {
  cursor: pointer;
  font-family: 'Inter', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  transition: color .3s linear;
  color: var(--form-button-bg);
}

.popup__link:hover {
  color: var(--form-button-bg-hovered)
}
