.search-form__subtitle {
  font-family: 'Roboto', Ariel, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 608px;
  margin: 32px 0 0;
  color: var(--dark-bg-content-color);
}